*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    color: white;
    padding: 15px;
}

h1{
    display: inline;
}

ul{
    display: inline;
    margin-left: 70%;
    padding: 20px;
    
}

li{
    display: inline;
    font-size: large;
    color: gray;
    padding: 5px;
    cursor: pointer;
}

li:hover{
    color: white;
}

.searchbar{
    text-align: center;
    margin: 50px;
}

input{
    width: 50%;
    padding: 10px;
}

img{
    display: inline;
    width: 220px;
    height: 250px;
}

.box{
    display: inline-block;
    width: 220px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    
}

.products{
    text-align: center;  
}

.box:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.about{
    text-align: center;
    padding: 20px;

}

.contact{
    background-color: black;
    color: white;
    text-align: center;
}

.contact h2,h4,p{
    padding: 10px;
}
